<div class="box">
  <h1 class="box-header">Profile</h1>
  <div class="collection">
    <li class="collection-item"><strong>Name:</strong> {{ name }}</li>
    <li class="collection-item"><strong>Username:</strong> {{ username }}</li>
    <li class="collection-item"><strong>Email:</strong> {{ email }}</li>
    <li class="collection-item"><strong>Password:</strong> {{ password }}</li>
  </div>

  <a href="" class="button button-large button-clear-blue">Edit Profile</a>
  <a href="" class="button button-large button-clear-red">Delete Account</a>
</div>
