<div class="row">
  <div class="col s12 m6">
    <div class="blog">
      <div class="blog__img">
        <img src="/assets/images/corn.jpg" alt="">
      </div>
      <div class="blog__content">
        <div class="blog__bio">
          <a href="#">Hasrat Sabit</a><br>
          <span><i class="fa fa-clock-o" aria-hidden="true"></i> November 09, 2017</span>
        </div>
        <div class="blog__title">
          <h1><a href="#">This is the first blog title</a></h1>
        </div>
        <div class="blog__text">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>


      </div>
      <div class="blog__media hover">
        <a href="#"><i class="fa fa-heart" aria-hidden="true"></i></a><span>44</span>
        <a href="#"><i class="fa fa-comment" aria-hidden="true"></i></a><span>55</span>
        <a href="#"><i class="fa fa-eye" aria-hidden="true"></i></a><span>34</span>
        <a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-trash" aria-hidden="true"></i></a>
        <a href="#" class="read-more">Read More <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
</div>
