* {
	padding: 0;
	margin: 0;
}

body {
	background-color: $BgColor;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	&:hover,
	&:focus {
		text-decoration: none;
	}
}

li {
	list-style: none;
}

img {
	box-sizing: border-box;
	height: auto;
}
