<div class="row box">
  <h1 class="box-header">Post New Blog</h1>

  <div [ngClass]="postBlogClass">
    <p *ngIf="postBlogMessage">{{ postBlogMessage }} &nbsp;<a [routerLink]="['/read-more', this.newBlogLink._id]">Click here to view the blog.</a></p>
  </div>

  <form [formGroup]="form" (submit)="onNewBlogPost() " class="col s12">
    <div class="row">

      <!-- Blog Title -->
      <div [ngClass]="{'has-error': form.controls.title.errors && form.controls.title.dirty, 'has-success': form.controls.title.valid && form.controls.title.dirty}">
        <div class="input-field col s12">
          <input type="text" class="input-control" name="title" autocomplete="off" formControlName="title">
          <label for="title">Blog Title</label>
          <ul>
            <li *ngIf="form.controls.title.errors?.required && form.controls.title.dirty"> The title field is required. </li>
            <li *ngIf="form.controls.title.errors?.validTitle && form.controls.title.dirty"> The title must not contain special characters </li>
            <li *ngIf="(form.controls.title.errors?.minlength && form.controls.title.dirty) || (form.controls.title.errors?.maxlength && form.controls.title.dirty)"> The title should be at least 5 characters but no more than 100</li>
          </ul>
        </div>
      </div>

      <!-- Blog Body -->
      <div [ngClass]="{'has-error': form.controls.body.errors && form.controls.body.dirty, 'has-success': form.controls.body.valid && form.controls.body.dirty }">
        <div class="input-field col s12">
          <textarea id="textarea1" class="materialize-textarea" formControlName="body" name="body" autocomplete="off"></textarea>
          <label for="body">Blog Body</label>
          <ul>
            <li *ngIf="form.controls.body.errors?.required && form.controls.body.dirty"> The body field is required.</li>
            <li *ngIf="(form.controls.body.errors?.minlength && form.controls.body.dirty) || (form.controls.body.errors?.maxlength && form.controls.body.dirty)"> The body should be at least 5 letters but no more than 1500.
          </ul>
        </div>
      </div>


      <button [disabled]="!form.valid || processing" type="submit" name="button" class="button button-large button-blue">Post Blog</button>

    </div>
  </form>
</div>

<div class="box">
      <h1 class="box-header">View All Blogs</h1>
      <div class="input-field col s12">
        <input type="text" class="input-control" name="search" autocomplete="off">
        <label for="title">Search For Blogs</label>
      </div>
    <table class="bordered centered highlight">
    <thead>
      <tr>
          <th>Title</th>
          <th>Date</th>
          <th>Author</th>
          <th>Comments</th>
          <th>Likes</th>
          <th>View Blog</th>
          <th>Edit</th>
          <th>Delete</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let blog of newBlogPost">
        <td><a [routerLink]="['/read-more', blog._id]">{{ blog.title }}</a></td>
        <td>{{ blog.date | date: 'MMM dd, yyyy'}}</td>
        <td>{{ blog.createdBy }}</td>
        <td>{{ blog.commentNum }}</td>
        <td>{{ blog.likes }}</td>
        <td><a [routerLink]="['/read-more', blog._id]" class="read-more">Read More <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></a></td>
        <td><a [routerLink]="['/edit-blog', blog._id]"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
        <td><a [routerLink]="['/delete-blog', blog._id]"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
      </tr>
    </tbody>
  </table>
</div>
