.box {
	height: auto;
	padding: 50px 20px;
	background: #FFF;
	box-shadow: $shadow;
}

.box-header {
	text-align: center;
	font-family: $source;
	text-transform: uppercase;
	font-weight: 800;
	color: $lightBlue;
	font-size: 2rem;
}
