.button {
	position: relative;
	border: 0;
	border-radius: 3px;
}


.button:disabled,
.button[disabled] {
	opacity: 0.5;
	cursor: not-allowed;
}

.button-large {
	font-size: 1rem;
	font-weight: 900;
	padding: 8px 15px;
	@include atMedium {
		font-size: 1.2rem;
		padding: 10px 20px;
	}
	i {
		font-size: 1.5rem;
		@include atMedium {
			font-size: 1.7rem;
		}
	}
}

.button-small {
	font-size: 1rem;
	font-weight: 900;
	padding: 8px 15px;
}

.button-blue {
	background: $darkBlue;
	color: #FFF;
	transition: all 300ms ease-in-out;
	&:hover {
		background: $lightBlue;
	}
}


.button-red {
	background: $darkRed;
	color: #FFF;
	transition: all 300ms ease-in-out;
	&:hover {
		background: $lightRed;
	}
}

.button-green {
	background: $darkGreen;
	color: #FFF;
	transition: all 300ms ease-in-out;
	&:hover {
		background: $lightGreen;
	}
}


.button-yellow {
	background-color: $darkYellow;
	color: #FFF;
	transition: all 300ms ease-in-out;
	&:hover {
		background: $lightYellow;
	}
}

.button-default-blue {
	background: transparent;
	color: $lightGray;
	transition: all 300ms ease-in-out;
	&:hover,
	&:focus,
	&:active {
		background: transparent;
		border: none;
		color: $lightBlue;
		transition: all 300ms ease-in-out;
	}
}


.button-default {
	color: none;
	background: transparent;
	border: none;
	&:hover,
	&:focus,
	&:active {
		background: transparent;
		border: none;
	}
}

.delete-button {
	border: none !important;
	a {
		color: $lightRed;
	}
	&:hover a {
		color: #FFF;
	}
}

.edit-button {
	border: none !important;
	a {
		color: $lightYellow;
	}
	&:hover a {
		color: #FFF;
	}
}


.button-clear-blue {
	border: 1px solid $lightBlue;
	color: $lightBlue;
	transition: all 300ms ease-in-out;
	&:hover {
		background: $lightBlue;
		color: #FFF;
	}
}

.button-clear-green {
	border: 1px solid $lightGreen;
	color: $lightGreen;
	transition: all 300ms ease-in-out;
	&:hover {
		background: $lightGreen;
		color: #FFF;
	}
}


.button-clear-red {
	border: 1px solid $lightRed;
	color: $lightRed;
	transition: all 300ms ease-in-out;
	&:hover {
		background: $lightRed;
		color: #FFF;
	}
}

.button-clear-yellow {
	border: 1px solid $lightYellow;
	color: $lightYellow;
	transition: all 300ms ease-in-out;
	&:hover {
		background: $lightYellow;
		color: #FFF;
	}
}
