.button {
	border: 0;

}

.button:disabled,
.button[disabled] {
	opacity: 0.5;
	cursor: not-allowed;
}

.button-large {
	font-size: 1.2rem;
	font-weight: 400;
	padding: 10px 25px;
}

.button-blue {
	background: $darkBlue;
	color: #FFF;
	transition: all 300ms ease-in-out;
	&:hover {
		background: $lightBlue;
	}
}
