.main {
	@include clearfix;
	width: 100%;
	height: auto;
	padding: 70px 20px;
	float: right;
	transition: all 200ms linear;
	@include atSmall {
		width: 80%;
	}
	@include atLarge {
		width: 85%;
	}

	// JS class to change the width to 100%;
	&--is-expanded {
		@include atSmall {
			width: 95%;
			padding: 70px 20px 70px 5px;
			transition: all 200ms linear;
		}
	}

}
