.navbar {
	position: relative;
	top: 210px;
	height: 100%;
	@include atSmall {
		top: 150px;
	}

	.collapsible-header{
		color: $darkGray;
		font-family: $source;
		font-weight: 900;
		font-size: 0.9rem;
		opacity: 0.8;
			&:hover {
				background: $darkBlue;
				color: #FFF;
				opacity: 1;
			}
		}
}
