<div class="nav">

	<div class="nav__top-nav">
		<div class="menu-icon">
			<span class="middle"></span>
		</div>
		<div class="nav__right-navbar">
			<ul>
				<li *ngIf="!authService.userLoggedIn()"><a routerLink="/register" [routerLinkActive]="['active']">Register</a></li>
				<li *ngIf="!authService.userLoggedIn()"><a routerLink="/login" [routerLinkActive]="['active']">Login</a></li>
				<li *ngIf="authService.userLoggedIn()"><a href="#" (click)="onLogoutUser()">Logout</a></li>
			</ul>
		</div>
	</div>

	<div class="nav__user-box">
		<div class="nav__user-info">
			<img src="/assets/images/profile.jpg" alt="">
			<h1 class="title">Hasrat Sabit</h1>
			<h2 class="title">Full Stack Developer</h2>
		</div>
	</div>

	<div class="nav__side-nav">

		<div class="navbar">
			<ul class="admin">
				<li><a routerLink="/" [routerLinkActive]="['active']" class="collapsible-header  waves-effect waves-cyan"><i class=" material-icons">dashboard</i>Home</a></li>
				<li><a *ngIf="authService.userLoggedIn()" routerLink="/blogs" [routerLinkActive]="['active']" class="collapsible-header  waves-effect waves-cyan"><i class=" material-icons">dashboard</i>Blogs</a></li>
				<li *ngIf="authService.userLoggedIn()"><a routerLink="/dashboard" [routerLinkActive]="['active']" class="collapsible-header  waves-effect waves-cyan"><i class=" material-icons">dashboard</i>Dashboard</a></li>
				<li *ngIf="authService.userLoggedIn()"><a routerLink="/profile" [routerLinkActive]="['active']" class="collapsible-header  waves-effect waves-cyan"><i class=" material-icons">dashboard</i>Profile</a></li>
			</ul>
		</div>
	</div>
</div>
