<div class="nav">

	<div class="nav__top-nav">
		<div class="menu-icon">
			<span class="middle"></span>
		</div>
		<div class="nav__right-navbar">
			<ul>
				<li><a routerLink="/register" [routerLinkActive]="['active']">Register</a></li>
				<li><a routerLink="/login" [routerLinkActive]="['active']">Login</a></li>
				<li><a href="#">Logout</a></li>
			</ul>
		</div>
	</div>

	<div class="nav__user-box">
		<div class="nav__user-info">
			<!-- <img src="/assets/images/sm-profile.jpg" alt=""> -->
			<h1 class="title">Hasrat Sabit</h1>
			<h2 class="title">Full Stack Developer</h2>
		</div>
	</div>

	<div class="nav__side-nav">

		<div class="navbar">
			<ul class="admin">
				<li><a href="#" class="collapsible-header  waves-effect waves-cyan"><i class=" material-icons">dashboard</i>Dashboard</a></li>
			</ul>
		</div>
	</div>
</div>
